<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justtennis"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-permission android:name="android.permission.RECEIVE_SMS" /> 
	<uses-permission android:name="android.permission.READ_SMS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.READ_CALENDAR"/>
	<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			
	<!-- Zxing -->
	<uses-permission android:name="android.permission.CAMERA"/>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_01"
        android:label="@string/application_label"
        android:theme="@style/AppTheme" >
        <activity
			android:name=".activity.MainActivity"
			android:label="@string/application_label"
			android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.google.zxing.client.android.CaptureActivity"
		   android:screenOrientation="landscape"
		   android:configChanges="orientation|keyboardHidden"
		   android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		   android:windowSoftInputMode="stateAlwaysHidden">
		   <intent-filter>
		      <action android:name="android.intent.action.MAIN"/>
		      <category android:name="android.intent.category.DEFAULT"/>
		   </intent-filter>
		   <intent-filter>
		      <action android:name="com.google.zxing.client.android.SCAN"/>
		      <category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
		</activity>

        <activity android:name=".activity.UserActivity"
   		   android:windowSoftInputMode="stateHidden"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.ListPlayerActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.ListPersonActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.ListInviteActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.ListCompetitionActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.ComputeRankingActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.PlayerActivity"
   		   android:windowSoftInputMode="stateHidden"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.MessageActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.QRCodeActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.InviteActivity"
   		   android:windowSoftInputMode="stateHidden"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.LocationTournamentActivity"
   		   android:screenOrientation="portrait"
   		   android:windowSoftInputMode="adjustResize"
         />
        <activity android:name=".activity.LocationClubActivity"
   		   android:screenOrientation="portrait"
   		   android:windowSoftInputMode="adjustResize"
         />
        <activity android:name=".activity.LocationAddressActivity"
   		   android:screenOrientation="portrait"
   		   android:windowSoftInputMode="adjustResize"
         />
        <activity android:name=".activity.InviteDemandeActivity"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.RotatingButtons"
   		   android:screenOrientation="portrait"
         />
        <activity android:name=".activity.PieChartActivity"
   		   android:screenOrientation="portrait"
         />
<!-- 
	   <receiver android:name=".receiver.SmsReceiver">
	      <intent-filter android:priority="999">
	         <action android:name="android.provider.Telephony.SMS_RECEIVED" />
	      </intent-filter>
	   </receiver>    
 -->
 </application>

</manifest>